apiVersion: argoproj.io/v1alpha1
kind: EventSource
metadata:
  name: sns-eventsource
  namespace: ${namespace}
spec:
  serviceAccountName: argo-workflows-server
  eventBusName: default
  sns:
    ecrEvents:
      region: ${aws_region}
      topicArn: "${sns_topic_arn}"
      accessKey:
        key: aws_access_key_id
        name: ${aws_creds_secret_name}
      secretKey:
        key: aws_secret_access_key
        name: ${aws_creds_secret_name}
      validateSignature: true
      # Remove webhook configuration entirely
      # EventSource will automatically create and manage an SQS queue