apiVersion: argoproj.io/v1alpha1
kind: EventSource
metadata:
  name: sns-eventsource
  namespace: ${namespace}
spec:
  serviceAccountName: argo-workflows-server
  sns:
    ecr-events:
      region: ${aws_region}
      topicARN: ${sns_topic_arn}
      accessKey:
        key: aws_access_key_id
        name: ${aws_creds_secret_name}
      secretKey:
        key: aws_secret_access_key
        name: ${aws_creds_secret_name}
      # Optional: Add validation settings
      validateSignature: true
      # Optional: Add endpoint if using localstack or custom endpoint
      # endpoint: ""